<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Error</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
    <div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
        <div id="invalid-msg" class="alert alert-success fill-parent">
            <h2 class="display-5">Something went wrong! </h2>
            <span>Please go back to <a id="go-home" th:href="@{/home}">home</a> page.</span>
        </div>
    </div>
</body>
</html>