<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Result</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
            <div id="success-msg" th:if="${saveSuccess}" class="alert alert-success fill-parent">
                <h1 class="display-5">Success</h1>
                <span>Your changes were successfully saved. Click <a id="continue-link-1" th:href="@{/home}">here</a> to continue.</span>
            </div>
            <div id="failure-msg" th:if="${saveFailure}" class="alert alert-danger fill-parent">
                <h1 class="display-5">Error</h1>
                <span>Your changes were not saved. Click <a id="continue-link-2" th:href="@{/home}">here</a> to continue.</span>
            </div>
            <div id="error-msg" th:if="${errorMessage}" class="alert alert-danger fill-parent">
                <h1 class="display-5">Error</h1>
                <span th:text="${errorMessage}"></span>
                <span>Click <a id="continue-link-3" th:href="@{/home}">here</a> to continue.</span>
            </div>
        </div>
    </body>
</html>